/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset above */

html {
    font-size: 10px;
}

body {
    background: url(https://background-tiles.com/overview/grey/patterns/large/1032.png);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display:flex;
    justify-content: space-between;
}

nav {
    display:flex;
    width: 40%;
}
nav ul {
    display:flex;
    justify-content: center;
    align-items:center;
    flex: 1 1;
}

nav li {
    display:flex;
    justify-content: center;
    align-items:center;
    flex: 1 1;
    padding: 5px 0;
    list-style-type:none;
    background-image: linear-gradient(gray,white); 
    border: 1px black solid;
}

nav li a {
    text-decoration: none;
    color:white;
    font-size: 3rem;
}

h2 {
    flex: 1 1 100px;
    font-size: 4rem;
    padding:10px 10px;
    text-shadow: 2px 2px white;
}

.top-section {
    display:flex;
    justify-content: center;
    padding: 20px;
}

.jumbotron {
    display:flex;
    flex-direction: column;
    align-items:center;
    flex: 1 1;
}

.jumbrotron h1 {
    position:relative;
}

.bot-section {
    display:flex;
    justify-content: center;
}

.bot-section .gallery {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .imagebox p {
    text-align:center;
    font-size: 2rem;
}

.gallery img {
    flex: 1 1 30%;
    padding: 10px;
}
    
    







